<div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
<div class="form">
  <form action="/auth/login" method="POST">
  <div class="form-element">
     <label for=Username></label>
    <input class="user-input" type="text" name="username" placeholder="Username" required />
  </div>
  <div class="form-element">
    <label for="password"></label>
    <input class="user-input"  type='password' name='password' placeholder='********' required />
  </div>
    <button class="btn"type="submit">Login</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    {{#if usernameError}}
      <p class="error">{{usernameError}}</p>
    {{/if}}
    {{#if passwordError}}
      <p class="error">{{passwordError}}</p>
    {{/if}}
    {{#if generalError}}
      <p class="error">{{generalError}}</p>
    {{/if}}
  </form>
</div>