<div class="navbar">
       
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
           <a href='/auth/read-secret'>Read Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/auth/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>

<div class="user-secret-wrapper">
    <h2>Welcome {{username}}!</h2>
    <div class="user-secret">
        <p class="user-secret-text">{{secret}}</p>
        <button class="edit-button btn-small">Edit</button>
        <button class="delete-buton btn-small">Delete</button>
    </div>
    
<p>You shared X secrets.</p>
<p>You are ready to read Y secrets</p>
</div>

