<nav>
    <ul>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
        <li class='to-right'>
            <a href='/auth/read-secret'>Read Secrets</a>
        </li>
    </ul>
</nav>
<h2>Welcome {{username}}!</h2>
<div class="user-secret-wrapper">
    <div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
<div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
<div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
<div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
<div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
<div class="user-secret">
    <p class="user-secret-text"></p>
    <button class="edit-button">Edit</button>
    <button class="delete-buton">Delete</button>
</div>
</div>
<p>You shared X secrets.</p>
<p>You are ready to read Y secrets</p>
