body{
    background-color: #FFD06B;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.logo {
    max-width: 120px;
    max-height: 120px;

}
/*index.hbs*/

.navbar {
    display:flex;  
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
  }

li {
    display: inline;
  }
 
.to-right {
    width: 50%;
}
.hero-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-container{
    max-width: 500px;
   margin-right: 50px;
}

.hero-title {
    font-size: 52px;
}
.hero-text{
    font-size: 26px;
}
.btn {
    background: #0F0F0E;
    background-image: -webkit-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -moz-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -ms-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -o-linear-gradient(top, #0F0F0E, #5D5D42);
    border-radius: 20px;
    color: #FFD06B;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

.secret-img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
}

/* sing up & login*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-input{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.secret-input{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* User Profile */

.user-secret-wrapper {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Barlow;
  font-weight: 400;
}
.user-secret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-secret-text {
  width: 300px;
  height: 200px;
  border: 1px black solid;
  border-radius: 10px;
  padding-top: 20px;
  background-color: #FDEEDC;
  font-weight: 400;
}

.btn-small {
    background: #0F0F0E;
    background-image: -webkit-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -moz-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -ms-linear-gradient(top, #0F0F0E, #5D5D42);
    background-image: -o-linear-gradient(top, #0F0F0E, #5D5D42);
    border-radius: 20px;
    color: #FFD06B;
    font-size: 12px;
    font-weight: 100;
    padding: 10px 60px;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

/* Read a secrer*/

.secret-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
  }
  
  .card_content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card_content {
    transform: rotateY(.5turn);
  }
  
  .card_front,
  .card_back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
  }
  
  .card_front {
    background-size: cover;
    background-blend-mode: overlay;
  }
  
  .card_front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    transform: var(--level-one);
  } 
  .card_body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .card_back {
    transform: rotateY(.5turn);
    color: var(--clr);
    background: #333;
  }
  
  
  