@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-color: #ffd06b;
  font-family: "Barlow", sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

i {
  height: 50px;
  width: 50px;
}

/*index.hbs*/
.navbar {
  display: flex;
  justify-content: space-between;

}

.logo-wrapper{
    display: flex;
}
.logo {
  max-width: 120px;
  max-height: 120px;
  margin: 2px;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  display: inline;
}

.hero-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  max-width: 500px;
  margin: 0 50px 50px 0;
}

.hero-title {
  font-size: 52px;
}
.hero-text {
  font-size: 26px;
}

.bottom-container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.btn {
  background-color: #000000;
  color: #fff;
  border: 1px #000000 solid;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

.btn:hover {
  background-color: #222222;
}

.btn .circle {
  position: absolute;
  background-color: #EEEEEE;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.btn-small{
background: rgb(216, 216, 216);
  background: linear-gradient(
    0deg,
    rgba(216, 216, 216, 1) 1%,
    rgba(178, 178, 178, 1) 50%
  );
  color: black;
  border: 1px #b2b2b2 solid;
  border-radius: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  top: 10px;
}

.btn-small:hover {
    background: rgb(178, 178, 178);
  background: linear-gradient(
    0deg,
    rgba(178, 178, 178, 1) 1%,
    rgba(216, 216, 216, 1) 50%
  );
}

.secret-img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}
.box-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.box {
  max-width: 200px;
  max-height: 500px;
}

.bottom-container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.footer{
  height: 150px;
  background-color:  #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  
}

.creators {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
/* sing up & login*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-input {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.secret-input {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* User Profile - Share Secret */

.user-secret-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Barlow;
  font-weight: 400;
  position: relative;
  top: 50px;
}
.user-secret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-secret-text {
  width: 300px;
  height: 200px;
  border: 1px black solid;
  border-radius: 10px;
  padding-top: 20px;
  background: rgb(255,208,107);
  background: linear-gradient(0deg, rgba(255,208,107,1) 1%, rgba(255,213,92,1) 50%);
  font-weight: 400;
  text-align: center;
}
