<div class="navbar">

  <div class="logo-wrapper">
    <img class="logo" src="../images/whispererz_logo.png" alt="" />
    <img class="logo" src="../images/whispererz.png" alt="" />
  </div>
  <ul>
    <li>
      <a href="/auth/signup"><button class="btn ripple">Sing Up</button></a>
    </li>
    <li>
      <a href="/auth/login"><button class="btn ripple">Login</button></a>
    </li>
    {{#if userId}}
      <li>
        <a href="/auth/profile"><button class="btn ripple">Profile</button></a>
      </li>
    {{/if}}
  </ul>
</div>
<div class="hero-container">
  <div class="text-container">
    <h1 class="hero-title">Share your secret anonymously</h1>
    <p class="hero-text">Share your secrets anonymously and read other people's
      secrets!</p>
    <a href="/auth/signup"><button class="btn">Start reading secrets</button></a>
  </div>
  <img class="secret-img" src="../images/secret-img.jpeg" alt="" />
</div>
<div class="box-wrapper">
  <div class="box">
    <h3>Share your secret anonymously</h3>
    <p>
      You do not have to share any of your personal data.
    </p>
  </div>
  <i class="fa-solid fa-arrow-right"></i>
  <div class="box">
    <h3>Start reading other people's secrets now</h3>
    <p>
      Get ready to lose yourself among juicy secrets.
    </p>
  </div>
  <i class="fa-solid fa-arrow-right"></i>
  <div class="box">
    <h3>Plus it's completely free!</h3>
    <p>But that doesn't mean it doesn't have a price. With every secret you
      share, you can read five new secrets.</p>
  </div>
</div>
<div class="bottom-container">
  <img class="secret-img" src="../images/secret-bnw.png" alt="" />
  <div class="text-container">
    <p class="hero-text">Sign up now and immerse yourself in the rhythm of
      gossip!</p>
    <a href="/auth/signup"><button class="btn">Create your account</button></a>
  </div>

</div>

<div class="footer">
  <p class="creators">Created by <br> Ece Cakmak § Christian Schürmann</p>
</div>