<div class="navbar">
       
    <img class="logo" src="../images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
            <a href='/auth/signup'>Signup</a>
        </li>
        <li class='to-right'>
            <a href='/auth/login'>Login</a>
        </li>
    </ul>
</div>
<div class="hero-container">
    <div class="text-container">
    <h1 class="hero-title">Share your secret anonymously</h1>
    <p class="hero-text">Promise, we won't tell anyone!</p>
    <button class="btn">Start reading secrets</button>
    </div>
    <img class="secret-img" src="../images/secret-img.jpeg" alt="">
</div>


