<div class="navbar">

<div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
    <ul>
        <li>  
            <a href='/auth/signup'><button class="btn">Sing Up</button></a>
        </li>
        <li>
            <a href='/auth/login'><button class="btn">Login</button></a>
        </li>
        {{#if userId}}
        <li>
            <a href='/auth/profile'><button class="btn">Profile</button></a>
        </li>
        {{/if}}
    </ul>
</div>
<div class="hero-container">
    <div class="text-container">
    <h1 class="hero-title">Share your secret anonymously</h1>
    <p class="hero-text">Share your secrets anonymously and read other people's secrets!</p>
    <a href="/auth/signup"><button class="btn">Start reading secrets</button></a>
    </div>
    <img class="secret-img" src="../images/secret-img.jpeg" alt="">
</div>


