<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&family=Poppins:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
   
    <img class="logo1" src="/public/images/whispererz_logo.png" alt="logo-1">
   <img class="logo2" src="/public/images/whispererz_logo_2.png" alt="logo-2">
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>