<form action='/secrets/edit/{{secret.id}}' method='POST'>
 <label for="secret"></label>
    <input type='text' name='secret' value="{{secret.secret}}" placeholder="Tell us a secret!" required/>
    <button type='submit'>Save</button>
</form>