<div class="navbar">

<div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
    <ul>
        <li>  
            <a href='/auth/signup'><button class="btn">Sing Up</button></a>
        </li>
        <li>
            <a href='/auth/login'><button class="btn">Login</button></a>
        </li>
        {{#if userId}}
        <li>
            <a href='/auth/profile'><button class="btn">Profile</button></a>
        </li>
        {{/if}}
    </ul>
</div>
<form class="user-secret-wrapper" action='/secrets/edit/{{secret.id}}' method='POST'>
 <label class="user-secret" for="secret"></label>
    <input class="user-secret-text" type='text' name='secret' value="{{secret.secret}}"/>
    <button class="btn-small" type='submit'>Save</button>
</form>
</div>