<div class="navbar">
    <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
            <a href='/auth/profile'>Your Profile</a>
        </li>
        <li class='to-right'>
            <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>
<form class="user-secret-wrapper" action='/secrets/edit/{{secret.id}}' method='POST'>
 <label class="user-secret" for="secret"></label>
    <input class="user-secret-text" type='text' name='secret' value="{{secret.secret}}"/>
    <button class="btn-small" type='submit'>Save</button>
</form>
</div>