 <nav>
    <ul>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</nav>
<li>{{ Secret[1].secret }}</li>
 <div class="secret-container" id="secret">
        <div class="card">
            <div class= "card-face card-front">
                <img src="" alt="">
            </div>
            <div class="card-face card-back">
                <p class="secret-text"></p>
            </div>
        </div>
        <button class="release-button">Release the secret!</button>
        <button class="next-button">Next secret</button>
    </div>