<div class="navbar">
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
           <a href='/auth/profile'>Your Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/index'>Logout</a>
        </li>
    </ul>

</nav>
<li>{{ secrets }}</li>
 <div class="secret-container" id="secret">
        <div class="card">
            <div class= "card-face card-front">
                <img src="" alt="">
            </div>
            <div class="card-face card-back">
                <p class="secret-text"></p>
            </div>
        </div>

</div>
<div class="secret-wrapper"> 
    <div class="card">
        <div class="card_content">
            <div class="card_front">
                <img class="secret-img" src="/images/read_secret_img.png" alt="">
            </div>
            <div class="card_back">
                 <p class="card_body">{{secret}} Here is your secret</p>
            </div>
        </div>
</div>

        <button class="next-button btn-small">Next secret</button>
</div>   


        <button class="release-button">Release the secret!</button>
        <button class="next-button">Next secret</button>
  
