<div class="navbar">
    <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
            <a href='/auth/profile'>Your Secrets</a>
        </li>
        <li class='to-right'>
            <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>
<div class="secret-wrapper">
    {{ creditError }}

    {{#if secret }}
    <div class="card">
        <div class="card_content">
            <div class="card_front">
                <p class="card_body">
                    Here is your secret
                </p>
                <h1>{{secret.secret}}</h1>

                {{ credit }}
            </div>
            <div class="card_back">
                <img class="secret-img" src="/images/read_secret_img.png" alt="">
            </div>
        </div>
    </div>
    <a href='/secrets/read-secret'>Next secret</a>
    {{!-- <button class="next-button btn-small">Next secret</button> --}}
    {{/if}}

</div>