<div class="navbar">
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
           <a href='/auth/profile'>Your Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/index'>Logout</a>
        </li>
    </ul>
</div>
 <div class="secret-container" id="secret">
        <div class="card">
            <div class= "card-front">
                <img class="secret-img" src="/images/secret-img.jpeg" alt="">
            </div>
            <div class="card-back">
                <p class="secret-text">{{secret}} xx</p>
            </div>
        </div>
        <button class="release-button">Release the secret!</button>
        <button class="next-button">Next secret</button>
    </div>