<div class="navbar">
    <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
            <a href='/auth/profile'>Your Profile</a>
        </li>
        <li class='to-right'>
            <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>

<div class="user-secret-wrapper">
    {{ creditError }}

    {{#if secret }} 
            <div class="user-secret-text">  
             {{secret.secret}}
            </div>
    <p>You can read {{ credit }} more secrets.</p>
    <a href='/secrets/read-secret'><button class="btn-small">Next secret</button></a>
    {{/if}}

</div>

