<div class="navbar">    
<div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
     <ul>
        <li>
           <a href='/secrets/read-secret'><button class="btn">Read Secrets</button></a>
        </li>
        <li>
          <a href='/secrets/share-secret'><button class="btn">Share Secrets</button></a>
        </li>
        <li>
          <a href='/auth/logout'><button class="btn">Logout</button></a>
        </li>
    </ul>
</div>
<div >
  <form class="user-secret-wrapper" action='/secrets/share-secret' method='POST'>
    <label for="secret"></label>
    <input class="user-secret-text"  type='text' name='secret' placeholder="Tell us a secret!" required/>
    <button class="btn-small" type='submit'>Share a secret!</button>
  </form>
</div>