 <nav>
    <ul>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</nav>
<form action='/secrets/share-secret' method='POST'>
 <label for="secret"></label>
    <input type='text' name='secret' placeholder="Tell us a secret!" required/>
    <button type='submit'>Share a secret!</button>
</form>