<div class="navbar">    
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li>
           <a href='/secrets/read-secret'>Read Secrets</a>
        </li>
        <li>
               <a href='/auth/profile'>Your Profile</a>
        </li>
        <li>
          <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>
<div >
  <form class="user-secret-wrapper" action='/secrets/share-secret' method='POST'>
    <label for="secret"></label>
    <input class="user-secret-text"  type='text' name='secret' placeholder="Tell us a secret!" required/>
    <button class="btn-small" type='submit'>Share a secret!</button>
  </form>
</div>