<div class="navbar">
       
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
           <a href='/secrets/read-secret'>Read Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>
<div class="user-secret-wrapper">
    <h2>Tell us a secret!</h2>
    <form action='/secrets/share-secret' method='POST'>
        <label for="secret"></label>
         <input type='text' name='secret'  class="user-secret-text"/>
    </form>
     <button class="btn-small" type='submit' >Share a secret!</button>
</div>