 <nav>
    <div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
    <ul>
        <ul>
        <li>
          <a href='/secrets/share-secret'><button class="btn">Share Secrets</button></a>
        </li>
        <li>
          <a href='/auth/logout'><button class="btn">Logout</button></a>
        </li>
    </ul>
</nav>
<div class="zero-credit-container">
    <p>You dont have enough credit to read secrets!</p>
    <button type='submit'><a href='/auth/share-secret'>Share a secret!</a></button>
</div>
