 <nav>
    <ul>
        <li class='to-right'>
            <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</nav>
<div class="zero-credit-container">
    <p>You dont have enough credit to read secrets!</p>
    <button type='submit'><a href='/auth/share-secret'>Share a secret!</a></button>
</div>
